﻿<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Найти звонок</h2>
    <div class="form-group">
        <div class="col-sm-3">
            <input class="form-control" id="find_call_id" placeholder="Идентификатор">
        </div>
    </div>
    <button type="button" class="btn btn-info" onclick="findCall()">Найти</button>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Организация</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Владелец</th>
                <th></th>
                <th>Звонок</th>
                <th></th>
                <th></th>
                <th>Оператор</th>
                <th></th>
            </tr>
            <tr>
                <th>Название</th>
                <th>ИНН</th>
                <th>Адрес</th>
                <th>Дата регистрации</th>
                <th>Часовой пояс</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Дата и время</th>
                <th>Результат</th>
                <th>Проект</th>
                <th>Фамилия</th>
                <th>Имя</th>
            </tr>
            </thead>
            <tbody id="find_contact_content">
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Найти контактное лицо</h2>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-3">
                <input class="form-control" id="find_contact_person_tel" placeholder="Телефон">
            </div>
            <div class="col-sm-3">
                <input class="form-control" id="find_contact_person_surname" placeholder="Фамилия">
            </div>
            <div class="col-sm-3">
                <input class="form-control" id="find_contact_person_name" placeholder="Имя">
            </div>
            <div class="col-sm-3">
                <input class="form-control" id="find_contact_person_middlename" placeholder="Отчество">
            </div>
            <div class="col-sm-3">
                <input style="margin-top: 5px" class="form-control" id="find_contact_person_email"
                       placeholder="e-mail">
                <button style="margin-top: 5px" type="button" class="btn btn-info"
                        onclick="findContactPerson()">Найти
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
            </tr>
            </thead>
            <tbody id="find_contact_person_content">
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Найти организацию</h2>
    <div class="form-group">
        <div class="col-sm-3">
            <input class="form-control" id="find_organization_id" placeholder="Идентификатор">
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="find_organization_inn" placeholder="ИНН">
        </div>
    </div>
    <button type="button" class="btn btn-info" onclick="findOrganization()">Найти</button>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Тип</th>
                <th>Название</th>
                <th>ИНН</th>
                <th>Дата регистрации</th>
                <th>Алрес</th>
                <th>Часовой пояс</th>
            </tr>
            </thead>
            <tbody id=find_organization_content>
            </tbody>
        </table>
    </div>
</div>

