<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Список организаций</h2>
    <h4 class="sub-header">По данным организации</h4>
    <div class="row">
        <div class='col-md-1'>
            <h5>Загрузка:</h5>
        </div>
        <div class='col-md-3'>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="downloadList" data-toggle="dropdown" downloadId="null">Любая<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    {{DOWNLOAD_LIST}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-2'>
            <h5>Уникальность:</h5>
        </div>
        <div class='col-md-3'>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="operationList" data-toggle="dropdown" operationId="null">Любая<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Создано', 'Уникальный' )" href="#">Уникальный</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Обновлено', 'Не уникальный' )" href="#">Не уникальный</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Дубль', 'Повторный' )" href="#">Повторный</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-2'>
            <h5>Валидность номера:</h5>
        </div>
        <div class='col-md-3'>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="validList" data-toggle="dropdown" validId="null">Любая<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setValid( 'Валидный' )" href="#">Валидный</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setValid( 'Не валидный' )" href="#">Не валидный</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setValid( 'Пустой' )" href="#">Пустой</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-3'>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="odpCheck">
                <label class="form-check-label" for="odpCheck">ОДП</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-3'>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="firstNumberCheck">
                <label class="form-check-label" for="firstNumberCheck">Первый валидный номер</label>
            </div>
        </div>
    </div>
    <h6 class="sub-header"></h6>
    <h4 class="sub-header">По данным звонка</h4>
    <div class="row">
        <div class='col-md-1'>
            <h5>Состояние:</h5>
        </div>
        <div class='col-md-5'>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button" class="btn btn-secondary active" style="font-size: 131%"><input type="radio" name="project" id="StateAll" autocomplete="off" checked>Любое</button>
                <button type="button" class="btn btn-secondary" style="font-size: 131%"><input type="radio" name="project" id="StateNull" autocomplete="off">Пустое</button>
                <button type="button" class="btn btn-secondary"><input type="radio" name="project" id="StateData" autocomplete="off"><input id="StateDataInput" type="text"></button>
            </div>
        </div>
    </div>
    <h6 class="sub-header"></h6>
    <button type="button" class="btn btn-info" onclick="getOrganizationList()">Построить</button>
    <h6 class="sub-header"></h6>
    <h5 id="count_head" class="sub-header">Количество: 0</h5>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Тип</th>
                <th>Название</th>
                <th>ИНН</th>
                <th>Дата регистрации</th>
                <th>Алрес</th>
                <th>Часовой пояс</th>
            </tr>
            </thead>
            <tbody id=organization_content>
            </tbody>
        </table>
    </div>
</div>