<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Построить список организаций</h2>
    <table><tr>
        <td><h4 class="sub-header">Общие фильтры</h4></td>
        <td width="5px"/>
        <td><img id="CommonRaw" style="margin-bottom: 10px;" width="10%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('CommonFilters', 'CommonRaw')"/></td>
    </tr></table>
    <table id="CommonFilters" hidden="true"><tr>
        <td><h5>Название:</h5></td>
        <td width="3px"/>
        <td><input id="NameInput" type="text"></td>
        <td width="10px"/>
        <td><h5>ИНН:</h5></td>
        <td width="3px"/>
        <td><input id="INNInput" type="text"></td>
        <td width="10px"/>
        <td><h5>Адрес:</h5></td>
        <td width="3px"/>
        <td><input id="AddressInput" type="text"></td>
    </tr></table>
    <table><tr>
        <td><h4 class="sub-header">Фильтрация по дате регистрации</h4></td>
        <td width="5px"/>
        <td><img id="RedDateRaw" style="margin-bottom: 10px;" width="10%" src="https://emojio.ru/images/apple-b/2b06.png" onclick="SetView('RegDateFilters', 'RedDateRaw')"/></td>
    </tr></table>
     <table id="RegDateFilters"><tr>
        <td><h5>C:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="startDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
        <td width="10px"/>
        <td><h5>По:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="endDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
        <td width="10px"/>
        <td><h5>Сортировать:</h5></td>
        <td width="3px"/>
        <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" class="btn btn-secondary active" ><input type="radio" name="RegDateSort" id="RegDateNoSort" autocomplete="off" checked>Без сортировки</button>
            <button type="button" class="btn btn-secondary" ><input type="radio" name="RegDateSort" id="RegDateDescSort" autocomplete="off">От новых к старым</button>
            <button type="button" class="btn btn-secondary"><input type="radio" name="RegDateSort" id="RegDateAscSort" autocomplete="off">От старых к новым</button>
        </div></td>
    </tr></table>
    <table><tr>
        <td><h4 class="sub-header">Фильтры по контактным данным</h4></td>
        <td width="5px"/>
        <td><img id="ContactRaw" style="margin-bottom: 10px;" width="10%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('ContactFilters', 'ContactRaw')"/></td>
    </tr></table>
    <table id="ContactFilters" hidden="true"><tr>
        <td><h5>Телефон:</h5></td>
        <td width="3px"/>
        <td><input id="PhoneInput" type="text"></td>
        <td width="10px"/>
        <td><h5>Фамилия:</h5></td>
        <td width="3px"/>
        <td><input id="FInput" type="text"></td>
        <td width="10px"/>
        <td><h5>Имя:</h5></td>
        <td width="3px"/>
        <td><input id="IInput" type="text"></td>
        <td width="10px"/>
        <td><h5>Отчество:</h5></td>
        <td width="3px"/>
        <td><input id="OInput" type="text"></td>
    </tr></table>
    <table><tr>
        <td><h4 class="sub-header">Фильтры по актуальности</h4></td>
        <td width="5px"/>
        <td><img id="ClosedRaw" style="margin-bottom: 10px;" width="10%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('ClosedFilters', 'ClosedRaw')"/></td>
    </tr></table>
    <table id="ClosedFilters" hidden="true"><tr>
        <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" class="btn btn-secondary active" ><input type="radio" name="project" autocomplete="off" checked>Без фильтрации</button>
            <button type="button" class="btn btn-secondary" ><input type="radio" name="ClosedHidden" id="ClosedHidden" autocomplete="off">Не выводить закрытые</button>
            <button type="button" class="btn btn-secondary"><input type="radio" name="ClosedHidden" id="NotClosedHidden" autocomplete="off">Выводить только закрытые</button>
            <button type="button" class="btn btn-secondary"><input type="radio" name="ClosedHidden" id="ClosedMark" autocomplete="off">Вывести признак</button>
        </div></td>
    </tr><tr>
        <td><br/><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" class="btn btn-secondary active" ><input type="radio" name="project" autocomplete="off" checked>Без проверки на ОДП</button>
            <button type="button" class="btn btn-secondary" ><input type="radio" name="ODP" id="TinkoffODP" autocomplete="off">Проверять на ОДП ТФ</button>
        </div></td>
    </tr></table>
    <table style="margin-top: 10px"><tr>
        <td><h5>Ограничение кол-ва контактов:</h5></td>
        <td width="3px"/>
        <td><input id="CountInput" type="text"></td>
        <td width="5px"/>
        <td><div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="button" class="btn btn-secondary active" ><input type="radio" name="ViewMonitor" id="ViewMonitor" autocomplete="off" checked>Вывести на экран</button>
            <button type="button" class="btn btn-secondary" ><input type="radio" name="ViewMonitor" id="ViewFile" autocomplete="off">Выгрузить в файл</button>
        </div></td>
    </tr></table>
    <table><tr>
        <td><h5>Номер загрузки:</h5></td>
        <td><input id="DownloadId" type="text"></td>
    </tr></table>
    <table><tr>
        <td><h5>ОКВЭД:</h5></td>
        <td><input id="OKVED" type="text"></td>
    </tr></table>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.ru.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#startDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#startDayPicker').datepicker('setDate', today);

        $('#endDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#endDayPicker').datepicker('setDate', today);
    </script>
    <button type="button" class="btn btn-info" onclick="getOrganizationList()" style="margin-top: 10px">Построить</button>
    <h6 class="sub-header"></h6>
    <h5 id="count_head" class="sub-header">Количество: 0</h5>
    <div id="progress" hidden="true" class="progress" style="position: absolute;left: 50%; width: 300px; margin-right: -50%;transform: translate(-50%, -50%)">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        </div>
        <div>60%</div>>
    </div>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr id="resTableHead">
                    <th>Тип</th>
                    <th>Название</th>
                    <th>ИНН</th>
                    <th>Дата регистрации</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
            </thead>
            <tbody id=organization_content>
            </tbody>
        </table>
    </div>
    <a id="fileLink" href=""></a>
</div>