﻿        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 id="pilot_head" class="sub-header">Пилот:</h2>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="pilotList" data-toggle="dropdown">Спиок пилотных проектов<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    {{PILOT_LIST}}
                </ul>
            </div>
            <h6 class="sub-header" id="update"></h6>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Состояние</th>
                        <th>Количество</th>
                    </tr>
                    </thead>
                    <tbody id="PilotInfo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../admin.js"></script>
<script>startActivityMonitoring()</script>
<script>SelectMenu('menu_robot')</script>