<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{PROJECT_NAME}}</title>
    <script src="project_state.js"></script>
    <script>getListToLoad('{{PROJECT_NAME}}')</script>
</head>
<body>
<h2>{{PROJECT_NAME}}</h2>
<h4>
    <span>Очередь на прозвон:</span>
    <span id="listCount">вычисляется</span>
</h4>
<table id="listToLoad">
</table>
</body>
</html>