<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Банк <div id="bankName">{{bankName}}</div></h2>
    <div id="report" hidden="true">
        <h4 class="sub-header">Отчет</h4>
        <div class="input-group input-append date" id="mounthPicker">
            <input type="text" class="form-control" name="date" value="" />
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <button type="button" class="btn btn-info" onclick="getReport('{{bankName}}')" style="margin-top: 10px">Сформировать</button>
    </div>
    <h4 class="sub-header">Статусы по подгрузкам</h4>
    <div class="input-group input-append date" id="dayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="statusUploadHeader">
            </thead>
            <tbody id="statusUploadContent">
            </tbody>
        </table>
    </div>
    <h4 class="sub-header">Статусы за сегодня</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="statusHeader">
            </thead>
            <tbody id="statusContent">
            </tbody>
        </table>
    </div>
    <!--<h4 class="sub-header">Акт сверки</h4>
    <table id="RegDateFilters"><tr>
        <td><h5>C:</h5></td>
            <td width="3px"/>
            <td><div class="input-group input-append date" id="startDayPicker">
            <input type="text" class="form-control" name="date" value="" />
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div></td>
            <td width="10px"/>
            <td><h5>По:</h5></td>
            <td width="3px"/>
            <td><div class="input-group input-append date" id="endDayPicker">
            <input type="text" class="form-control" name="date" value="" />
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div></td>
        </tr>
    </table>
    <button type="button" class="btn btn-info" onclick="getCompareAct('{{bankName}}')" style="margin-top: 10px">Построить</button>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="cmpActHeader">
            </thead>
            <tbody id="cmpActContent">
            </tbody>
        </table>
    </div>-->
    <div id="regions_allows">
        <table>
            <tr>
                <td width="30px">
                    <img id="bank_region_list_raw" style="margin-bottom: 10px;" width="70%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('bank_region_list','bank_region_list_raw')"/>
                </td>
                <td>
                    <h4 class="sub-header">Регионы</h4>
                </td>
            </tr>
        </table>
        <div class="table" id="bank_region_list" hidden="true">
            <table class="table table-striped table-hover" id="region_table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Доступные</th>
                        <th>Не работаем</th>
                    </tr>
                </thead>
                <tbody id="bankRegionList">
                </tbody>
            </table>
        </div>
    </div>
    <div id="project_allows">
        <h4 class="sub-header">Список проектов</h4>
        <div class="table">
            <table class="table table-striped table-hover" id="project_table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Идентификатор</th>
                        <th>Название</th>
                        <th>Банк</th>
                        <th>Состояние</th>
                    </tr>
                </thead>
                <tbody id="project_list">
                    {{PROJECT_LIST}}
                </tbody>
            </table>
        </div>
        <div id="project_info" hidden="true">
            <h6 class="sub-header" id="updateProject">Обновлено: обновление</h6>
            <h4 class="sub-header">Статусы проектов по загрузкам</h4>
            <div class="input-group input-append date" id="dayPickerProject">
                <input type="text" class="form-control" name="date" value="" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse" id="statusProjectDownloadHeader">
                    </thead>
                    <tbody id="statusProjectDownloadContent">
                    </tbody>
                </table>
            </div>
            <br/>
            <h4 class="sub-header">Акт сверки</h4>
            <table id="ProjectRegDateFilters"><tr>
                <td><h5>C:</h5></td>
                    <td width="3px"/>
                    <td><div class="input-group input-append date" id="projectStartDayPicker">
                    <input type="text" class="form-control" name="date" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div></td>
                    <td width="10px"/>
                    <td><h5>По:</h5></td>
                    <td width="3px"/>
                    <td><div class="input-group input-append date" id="projectEndDayPicker">
                    <input type="text" class="form-control" name="date" value="" />
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div></td>
                </tr>
            </table>
            <button type="button" class="btn btn-info" onclick="getProjectCompareAct()" style="margin-top: 10px">Построить</button>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse" id="cmpProjectActHeader">
                    </thead>
                    <tbody id="cmpProjectActContent">
                    </tbody>
                </table>
            </div>
            <br/>
            <h4 class="sub-header">Статусы проектов за сегодня</h4>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse" id="statusProjectHeader">
                    </thead>
                    <tbody id="statusProjectContent">
                    </tbody>
                </table>
            </div>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse" id="statusProjectListHeader">
                    </thead>
                    <tbody id="statusProjectListContent">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.ru.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#dayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#dayPicker').datepicker('setDate', today);
        $("#dayPicker").on("changeDate", function(event) {

        });
        $('#dayPickerProject').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#dayPickerProject').datepicker('setDate', today);
        $("#dayPickerProject").on("changeDate", function(event) {

        });
        $('#startDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#startDayPicker').datepicker('setDate', today);

        $('#endDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#endDayPicker').datepicker('setDate', today);

        $('#projectStartDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#projectStartDayPicker').datepicker('setDate', today);

        $('#projectEndDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#projectEndDayPicker').datepicker('setDate', today);

        $('#mounthPicker').datepicker(
        {
           todayHighlight: true,
           format: "MM",
           viewMode: "mounth",
           language: 'ru',
           minViewMode: "months"
        });
        $('#mounthPicker').datepicker('setDate', today);
    </script>
    <div class="modal fade" id="chaneRegionStateModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center">
            Перенос региона
          </div>
        </div>
      </div>
    </div>
</div>