<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Настройки проектов</h2>
    <h4 class="sub-header">Список проектов</h4>
    <div class="table">
        <table class="table table-striped table-hover" id="project_table">
            <thead class="thead-inverse" id="mainAccountDataHeader">
                <tr>
                    <th>Идентификатор</th>
                    <th>Название</th>
                    <th>Банк</th>
                    <th>Состояние</th>
                </tr>
            </thead>
            <tbody>
                {{PROJECT_LIST}}
            </tbody>
        </table>
    </div>
</div>