﻿<div class="row">
    <div class="col-lg-10 main">
        <h2 class="sub-header">{{ContactPerson.Surname}} {{ContactPerson.Name}} {{ContactPerson.MiddleName}}</h2>
        <h4 class="sub-header">Контактные данные</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Тип </th>
                        <th>Подтип</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {{ContactInfo}}
                </tbody>
            </table>
        </div>
        <h4 class="sub-header">Организации</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Тип </th>
                        <th>Название</th>
                        <th>ИНН</th>
                        <th>Дата регистрации</th>
                        <th>Алрес</th>
                        <th>Часовой пояс</th>
                    </tr>
                </thead>
                <tbody>
                    {{OrganizationInfo}}
                </tbody>
            </table>
        </div>
    </div>
</div>
