<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Подгрузки</h2>
    <table id="DateFilters"><tr>
        <td><h5>C:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="startDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
        <td width="10px"/>
        <td><h5>По:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="endDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
    </tr></table>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Состояние</th>
                <th>Количество</th>
                <th>Параметры</th>
            </tr>
            </thead>
            <tbody id="uploadContent">
            </tbody>
        </table>
    </div>
    <h2 class="sub-header">Статусы по подгрузкам</h2>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr id="uploadStateHead">
                </tr>
            </thead>
            <tbody id="uploadStateContent">
            </tbody>
        </table>
    </div>
    <h2 class="sub-header">Подгрузки по часовым поясам</h2>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr id="uploadTZHead">
                </tr>
            </thead>
            <tbody id="uploadTZContent">
            </tbody>
        </table>
    </div>
    <h2 class="sub-header">Задачи подгрузки</h2>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Приостановлена до</th>
                <th>Состояние</th>
                <th>Параметры</th>
                <th>Результат</th>
            </tr>
            </thead>
            <tbody id="taskContent">
            </tbody>
        </table>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.ru.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var startday = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 0);

        $('#dayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           minViewMode: "days"
        });
        $('#dayPicker').datepicker('setDate', startday);
        $("#dayPicker").on("changeDate", function(event) {

        });
        $('#startDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#startDayPicker').datepicker('setDate', startday);

        $('#endDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#endDayPicker').datepicker('setDate', today);
    </script>
</div>