﻿<div class="col-sm-12 main">
    <h2 class="sub-header">Загрузка {{ID}}</h2>
    <table>
        <tr>
            <td width="30px">
                <img id="errorListRaw" style="margin-bottom: 10px;" width="70%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('errorList','errorListRaw')"/>
            </td>
            <td>
                <h3 class="sub-header">Список ошибок: {{ERROR_COUNT}}</h3>
            </td>
        </tr>
    </table>
    <div id="errorList" hidden="true" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            </thead>
            <tbody>
                {{ERRORS}}
            </tbody>
        </table>
    </div>
    {{BANK_LIST}}
    {{PROJECT_LIST}}
    <table>
        <tr>
            <td width="30px">
                <img id="allListRaw" style="margin-bottom: 10px;" width="70%" src="https://emojio.ru/images/apple-b/2b07.png" onclick="SetView('allList','allListRaw')"/>
            </td>
            <td>
                <h3 class="sub-header">Все контакты: {{ALL_COUNT}}</h3>
            </td>
        </tr>
    </table>
    <table><tr>
        <td><h5>Фильтр по состоянию:</h5></td>
        <td><input id="stateFilter" type="text"></td>
    </tr></table>
    <div id="allList" hidden="true" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>ИНН</th>
                    <th>Название</th>
                    <th>ОГРН</th>
                    <th>Адрес</th>
                    <th>Регион</th>
                    <th width="30%">Состояние</th>
                </tr>
            </thead>
            <tbody>
                {{ALL_LIST}}
            </tbody>
        </table>
    </div>
</div>