<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Загрузки</h2>
    <table id="RegDateFilters"><tr>
        <td><h5>C:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="startDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
        <td width="10px"/>
        <td><h5>По:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="endDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
    </tr></table>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">ID</th>
                <th rowspan="2">Поставщик</th>
                <th rowspan="2">Дата и время получения</th>
                <th rowspan="2">Тип</th>
                <th rowspan="2">Дата регистрации</th>
                <th rowspan="2">Состояние</th>
                <th rowspan="2">Примечание</th>
                <th rowspan="2">Всего контактов</th>
                <th rowspan="2">Ошибок</th>
                <th rowspan="2">ОДП ТФ</th>
                <th rowspan="2">ОДП СБ</th>
                <th rowspan="2">ОДП ВТБ</th>
                {{CALL_CENTER_LIST}}
                <th colspan="6">Уникальных контактов</th>
                <th colspan="7">Не уникальных контактов</th>
            </tr>
            <tr>
                {{CALL_CENTER_BANK_LIST}}
                <th>Всего</th>
                <th>Валидный номер</th>
                <th>Не валидный номер</th>
                <th>Пустой номер</th>
                <th>Не в ОДП</th>
                <th>ОДП</th>
                <th>Всего</th>
                <th>Валидный номер</th>
                <th>Не валидный номер</th>
                <th>Пустой номер</th>
                <th>Первый валидный номер</th>
                <th>Не в ОДП</th>
                <th>ОДП</th>
            </tr>
            </thead>
            <tbody id="downloadContent">
            </tbody>
        </table>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.ru.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var startday = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 2);

        $('#dayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           minViewMode: "days"
        });
        $('#dayPicker').datepicker('setDate', startday);
        $("#dayPicker").on("changeDate", function(event) {

        });
        $('#startDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#startDayPicker').datepicker('setDate', startday);

        $('#endDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#endDayPicker').datepicker('setDate', today);
    </script>
</div>