<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Результаты последних вызовов</h2>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="callListHeader">
            </thead>
            <tbody id="callListContent">
            </tbody>
        </table>
    </div>
</div>