<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Запустить задачу: {{TASK_NAME}}</h2>
    <h4 class="sub-header">Параметры</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Название</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                {{TASK_PARAMS_CONTENT}}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-info" onclick="startTask({{START_TASK_PARAMS}})" style="margin-top: 10px">Запустить</button>
</div>