<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Управление задачами</h2>
    <h4 class="sub-header">Статистика по задачам</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="taskStatHead">
            </thead>
            <tbody id="taskStatBody">
            </tbody>
        </table>
    </div>
    <h4 class="sub-header">Виды задач</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Название</th>
                <th>Обработчик</th>
                <th>Параметры</th>
                <th>Параметры задачи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
                {{TASK_DESCRIPTOR_CONTENT}}
            </tbody>
        </table>
    </div>
    <h4 class="sub-header">Последнии задач</h4>
    <div class="form-group">
        <div class="col-sm-3">
            <input class="form-control" id="task_id_filter" placeholder="Фильтр по номеру">
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="task_type_filter" placeholder="Фильтр по типу">
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="stateList" data-toggle="dropdown"
                        stateId="null">
                    <span id="stateListText">Любое состояние</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Ожидает в очереди', 'Ожидает в очереди' )">Ожидает в очереди</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Отложены', 'Отложены' )">Отложены</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'В работе', 'В работе' )">В работе</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'Завершены', 'Завершены' )">Завершены</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="setOperation( 'null', 'Любое состояние' )">Любое состояние</a></li>
                </ul>
            </div>
        </div>
    </div>
    <a name="task_list"></a>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Номер</th>
                <th>Вид</th>
                <th>Состояние</th>
                <th>Параметры</th>
                <th>Результат</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody id="taskContent">
            </tbody>
        </table>
    </div>
</div>