﻿<div class="row">
    <div class="col-lg-10 main">
        <h2 class="sub-header">Задача {{TaskID}}</h2>
        <h3 class="sub-header">Тип задачи: {{TaskType}}</h3>
        <h3 class="sub-header">Состояние: {{TaskState}}</h3>
        <h3 class="sub-header">Отложена до: {{TaskDelay}}</h3>
        <h3 class="sub-header">
            <a onclick="restartTask({{TaskID}})" class="badge badge-pill badge-success"><h4>Перезапустить</h4></a>
            <a onclick="stopTask({{TaskID}})" class="badge badge-pill badge-success"><h4>Завершить</h4></a>
            <a onclick="delayTask({{TaskID}}, 15)" class="badge badge-pill badge-success"><h4>Отложить на 15 мин</h4></a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 main">
        <h3 class="sub-header" style="text-align: center;">Параметры</h3>
        <ul class="list-group list-group-horizontal">
            {{Params}}
        </ul>
    </div>
    <div class="col-lg-8 main">
        <h3 class="sub-header" style="text-align: center;">Результат</h3>
        <ul class="list-group list-group-horizontal">
            {{Result}}
        </ul>
    </div>
</div>