﻿<div class="row">
    <div class="col-lg-10 main">
        <h2 class="sub-header">{{Organization.Name}}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Тип </th>
                        <th>ИНН</th>
                        <th>Адрес</th>
                        <th>Дата регистрации</th>
                        <th>Часовой пояс</th>
                        <th>Загружен</th>
                        <th>Загрузка</th>
                        <th>ОКВЭД</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Organization.Type}}</td>
                        <td>{{Organization.INN}}</td>
                        <td>{{Organization.Address}}</td>
                        <td>{{Organization.OpenDate}}</td>
                        <td>{{Organization.TimeZone}}</td>
                        <td>{{Organization.DownloadTime}}</td>
                        <td>{{Organization.DownloadName}}</td>
                        <td>{{Organization.OKVED}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2 main">
        <h4 class="sub-header">Завершена обработка по проектам</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Название</th>
                    </tr>
                </thead>
                <tbody>
                    {{Organization.ProjectBlock}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 main">
        <h3 class="sub-header" style="text-align: center;">Контактные лица</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Фамилия </th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Должность</th>
                    </tr>
                </thead>
                <tbody>
                    {{Organization.ContactPerson}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-8 main">
        <h3 class="sub-header" style="text-align: center;">История обработки</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Номер </th>
                        <th>Идентификатор скорозвона</th>
                        <th>Дата и время</th>
                        <th>Результат</th>
                        <th>Коментарий</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Приоритет</th>
                        <th>Перезвон не раньше</th>
                        <th>Банк</th>
                        <th>Проект</th>
                        <th>Последняя проверка на ОДП</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{Organization.Call_}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>