<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Загрузки по регионам</h2>
    <h4 class="sub-header">Фильтры по банкам</h4>
    <table id="ClosedFilters"><tr>
        <td><div class="btn-group btn-group-toggle" data-toggle="buttons" id="BankFilter">
            <button type="button" class="btn btn-secondary active" ><input type="radio" name="BankFilter" autocomplete="off" checked>Без фильтрации</button>
            {{BANK_FILTER}}
        </div></td>
    </tr></table>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="downloadRegionContentHead">
            </thead>
            <tbody id="downloadRegionContent">
            </tbody>
        </table>
    </div>
</div>