<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Банк Тинькофф</h2>
    <h4 class="sub-header">Основной аккаунт</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="mainAccountDataHeader">
                {{mainAccountDataHeader}}
            </thead>
            <tbody id="mainAccountDataContent">
                {{mainAccountDataContent}}
            </tbody>
        </table>
    </div>
    <h4 class="sub-header">Аккаунты для проверки ОДП</h4>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="accountDataHeader">
                {{accountDataHeader}}
            </thead>
            <tbody id="accountDataContent">
                {{accountDataContent}}
            </tbody>
        </table>
    </div>
    <h4 class="sub-header">Статусы по загрузкам</h4>
    <div class="input-group input-append date" id="dayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#dayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           minViewMode: "days"
        });
        $('#dayPicker').datepicker('setDate', today);
        $("#dayPicker").on("changeDate", function(event) {

        });
    </script>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse" id="statusDownloadHeader">
            </thead>
            <tbody id="statusDownloadContent">
            </tbody>
        </table>
    </div>
</div>