﻿        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h6 class="sub-header" id="update">Обновлено: обновление</h6>
            <h2 class="sub-header">Активность роботов ОДП</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th></th>
                            <th>ТинькоФФ</th>
                            <th>Сбербанк</th>
                            <th>Альфа банк</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Последние логи активности</td>
                            <td id="activityTF"/>
                            <td id="activitySB"/>
                            <td id="activityAL"/>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="button" class="btn btn-info" onclick="restartRobort('tf')">Перезагрузить</button></td>
                            <td><button type="button" class="btn btn-info" onclick="restartRobort('sb')">Перезагрузить</button></td>
                            <td><button type="button" class="btn btn-info" onclick="restartRobort('al')">Перезагрузить</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../admin.js"></script>
<script>startActivityMonitoring()</script>
<script>SelectMenu('menu_robot')</script>