<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ul class="nav nav-tabs">
        <li id="menu_history" class="active cust_menu"><a href="#" onclick="select('history')">История</a></li>
        <li id="menu_stat" class="cust_menu"><a href="#" onclick="select('stat')">Статистика</a></li>
        <li id="menu_block" class="cust_menu"><a href="#" onclick="select('block')">Блокировка</a></li>
    </ul>
    <div id="content_history" class="content">
        <h3>Фильтры</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    Дата время с
                </div>
                <div class="col-sm-2">
                    Дата время по
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="input-group input-append date" id="startDTPicker">
                        <input type="text" class="form-control" name="date" id="startDTPickerInp"/>
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-append date" id="endDTPicker">
                        <input type="text" class="form-control" name="date" id="endDTPickerInp"/>
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    <input class="form-control" id="find_site" placeholder="Сайт">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_ip" placeholder="IP Адрес">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_method" placeholder="Метод">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_path" placeholder="Путь">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_user" placeholder="Пользователь">
                </div>
                <div class="col-sm-3">
                    <button style="margin-top: 5px" type="button" class="btn btn-info" onclick="refresh()">Обновить</button>
                </div>
            </div>
        </div>
        <div class="table">
            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>Сайт</th>
                        <th>Дата и время</th>
                        <th>IP Адрес</th>
                        <th>Метод</th>
                        <th>Путь</th>
                        <th>Пользователь</th>
                    </tr>
                </thead>
                <tbody id="historyContent">
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-1">Количество элементов на странице</div>
                <div class="col-sm-1">
                    <input class="form-control" id="page_size" value="20">
                </div>
                <div class="col-sm-2">
                    <nav aria-label="Page navigation" style="text-align: right">
                        <ul class="pagination">
                            <li id="prev_page_val">
                                <a href="#" aria-label="Previous" onclick="movePage(-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a id="cur_page_val">1</a></li>
                            <li id="next_page_val">
                                <a href="#" aria-label="Next" onclick="movePage(1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="content_stat" class="content" hidden="true">
        <h3>Фильтры</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    Дата время с
                </div>
                <div class="col-sm-2">
                    Дата время по
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="input-group input-append date" id="startDTPickerStat">
                        <input type="text" class="form-control" name="date" id="startDTPickerInpStat"/>
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-append date" id="endDTPickerStat">
                        <input type="text" class="form-control" name="date" id="endDTPickerInpStat"/>
                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    <input class="form-control" id="find_site_stat" placeholder="Сайт">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_ip_stat" placeholder="IP Адрес">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_method_stat" placeholder="Метод">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_path_stat" placeholder="Путь">
                </div>
                <div class="col-sm-3">
                    <input class="form-control" id="find_user_stat" placeholder="Пользователь">
                </div>
                <div class="col-sm-3">
                    <button style="margin-top: 5px" type="button" class="btn btn-info" onclick="getStat()">Обновить</button>
                </div>
            </div>
        </div>
        <h3>Группировка</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    По вертикали
                </div>
                <div class="col-sm-3">
                    По горизонтали
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HNone" value="None" checked>
                        <label class="form-check-label" for="HNone">Нет</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HSite" value="Site">
                        <label class="form-check-label" for="HSite">Сайт</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HAddress" value="ClientIP">
                        <label class="form-check-label" for="HAddress">IP Адрес</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HMethod" value="Method">
                        <label class="form-check-label" for="HMethod">Метод</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HPath" value="URL">
                        <label class="form-check-label" for="HPath">Путь</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="HStat" id="HUser" value="User">
                        <label class="form-check-label" for="HUser">Пользователь</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VNone" value="None" checked>
                        <label class="form-check-label" for="VNone">Нет</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VSite" value="Site">
                        <label class="form-check-label" for="VSite">Сайт</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VAddress" value="ClientIP">
                        <label class="form-check-label" for="VAddress">IP Адрес</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VMethod" value="Method">
                        <label class="form-check-label" for="VMethod">Метод</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VPath" value="URL">
                        <label class="form-check-label" for="VPath">Путь</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="VStat" id="VUser" value="User">
                        <label class="form-check-label" for="VUser">Пользователь</label>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="table">
                    <table class="table table-striped table-hover">
                        <thead id="historyHeadStat" class="thead-inverse">
                        </thead>
                        <tbody id="historyContentStat">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="content_block" class="content" hidden="true">
        <h3>Разрешенные адреса</h3>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-2">
                    <input class="form-control" id="add_ip" placeholder="IP адрес">
                </div>
                <div class="col-sm-2">
                    <button style="margin-top: 5px" type="button" class="btn btn-info" onclick="addIP()">Добавить</button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="table">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>IP Адрес</th>
                            </tr>
                        </thead>
                        <tbody id="historyContentIP">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="selectWaitDiaog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center">
                    Запрос данных
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#startDTPicker').datetimepicker(
        {
          locale: 'ru'
        });
        $('#startDTPicker').data("DateTimePicker").date(today);

        $('#endDTPicker').datetimepicker(
        {
          locale: 'ru'
        });
        $('#endDTPicker').data("DateTimePicker").date(date);

        $('#startDTPickerStat').datetimepicker(
        {
          locale: 'ru'
        });
        $('#startDTPickerStat').data("DateTimePicker").date(today);

        $('#endDTPickerStat').datetimepicker(
        {
          locale: 'ru'
        });
        $('#endDTPickerStat').data("DateTimePicker").date(date);
  </script>
</div>