<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRM распеределителя КЦ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        {{STYLE}}
        </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/cgi-bin/download/download_list.py">CRM распеределителя КЦ</a>
                </div>
                <ul id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Работа<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="menu_download_nav"><a href="/cgi-bin/download/download_list.py">Загрузки</a></li>
                                <li id="menu_download_region_nav"><a href="/cgi-bin/download_region/download_region.py">Загрузки по регионан</a></li>
                                <li id="menu_rich_download_nav"><a href="/cgi-bin/rich_download/rich_download_list.py">Обогащенные загрузки</a></li>
                                <li id="menu_upload_nav"><a href="/cgi-bin/upload/upload_list.py">Подгрузки</a></li>
                                <li id="menu_find_nav"><a href="/cgi-bin/find/find.py">Найти</a></li>
                                <li id="menu_organization_nav"><a href="/cgi-bin/organization_list/organization_list.py">Организации</a></li>
                                <li id="menu_task_nav"><a href="/cgi-bin/task/task_manager.py">Задачи</a></li>
                                <li id="menu_call_list_nav"><a href="/cgi-bin/call_list/call_list.py">Последние звонки</a></li>
                                <li id="menu_http_history_nav"><a href="/cgi-bin/http_history/http_history.py">История доступа</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Проекты<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=Тинькофф&alias=tinkoff">Тинькофф</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=Сбербанк&alias=sber">Сбербанк</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=ВТБ24&alias=vtb">ВТБ24</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=МТС&alias=mts">МТС</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=ПромСвязьБанк&alias=psb">ПромСвязьБанк</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=РосСельхозБанк&alias=rshb">РосСельхозБанк</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/project.py?name=ТочкаБанк&alias=tochka">Точка</a></li>
                                <li><a class="dropdown-item" href="/cgi-bin/project/settings.py">Настройки</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><h3 style="margin-left: 10px">Работа</h3></li>
                        <li id="menu_download"><a href="/cgi-bin/download/download_list.py">Загрузки</a></li>
                        <li id="menu_download_region"><a href="/cgi-bin/download_region/download_region.py">Загрузки по регионам</a></li>
                        <li id="menu_rich_download"><a href="/cgi-bin/rich_download/rich_download_list.py">Обогащенные загрузки</a></li>
                        <li id="menu_upload"><a href="/cgi-bin/upload/upload_list.py">Подгрузки</a></li>
                        <li id="menu_find"><a href="/cgi-bin/find/find.py">Найти</a></li>
                        <li id="menu_organization"><a href="/cgi-bin/organization_list/organization_list.py">Организации</a></li>
                        <li id="menu_organization2"><a href="/cgi-bin/organization_list2/organization_list.py">Организации новые</a></li>
                        <li id="menu_task"><a href="/cgi-bin/task/task_manager.py">Задачи</a></li>
                        <li id="menu_call_list"><a href="/cgi-bin/call_list/call_list.py">Последние звонки</a></li>
                        <li id="menu_http_history"><a href="/cgi-bin/http_history/http_history.py">История доступа</a></li>
                        <li><h3 style="margin-left: 10px">Проекты</h3></li>
                        <li id="menu_tinkoff"><a href="/cgi-bin/project/project.py?name=Тинькофф&alias=tinkoff">Тинькофф</a></li>
                        <li id="menu_sber"><a href="/cgi-bin/project/project.py?name=Сбербанк&alias=sber">Сбербанк</a></li>
                        <li id="menu_vtb"><a href="/cgi-bin/project/project.py?name=ВТБ24&alias=vtb">ВТБ24</a></li>
                        <li id="menu_mts"><a href="/cgi-bin/project/project.py?name=МТС&alias=mts">МТС</a></li>
                        <li id="menu_psb"><a href="/cgi-bin/project/project.py?name=ПромСвязьБанк&alias=psb">ПромСвязьБанк</a></li>
                        <li id="menu_rshb"><a href="/cgi-bin/project/project.py?name=РосСельхозБанк&alias=rshb">РосСельхозБанк</a></li>
                        <li id="menu_tochka"><a href="/cgi-bin/project/project.py?name=ТочкаБанк&alias=tochka">ТочкаБанк</a></li>
                        <li id="menu_settings"><a href="/cgi-bin/project/settings.py">Настройки</a></li>
                    </ul>
                </div>
                {{CONTENT}}
            </div>
        </div>
        {{SCRIPT}}
    </body>
</html>