<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h6 class="sub-header" id="update">Обновлено: обновление</h6>
    <h2 class="sub-header">Обогащенные загрузки</h2>
    <table id="RegDateFilters"><tr>
        <td><h5>C:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="startDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
        <td width="10px"/>
        <td><h5>По:</h5></td>
        <td width="3px"/>
        <td><div class="input-group input-append date" id="endDayPicker">
        <input type="text" class="form-control" name="date" value="" />
        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div></td>
    </tr></table>
    <br/>
    <div class="table">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th colspan="7">Загрузка в БД</th>
                <th colspan="10">Подгрузка собственных контактов</th>
                <th colspan="4">Обогащение</th>
                <th colspan="10">Подгрузка обогащенных контактов</th>
            </tr>
            <tr>
                <th rowspan="2">Задача</th>
                <th rowspan="2">Дата и время</th>
                <th rowspan="2">Количество в файле</th>
                <th rowspan="2">Не уникальных</th>
                <th rowspan="2">Дублей</th>
                <th rowspan="2">На подгрузку</th>
                <th rowspan="2">На обогащение</th>
                <th colspan="2">Тинькофф</th>
                <th colspan="2">Сбербанк</th>
                <th colspan="2">ВТБ24</th>
                <th colspan="2">МТС</th>
                <th colspan="2">ТФ: Краснодар</th>
                <th rowspan="2">Обогащено из БД</th>
                <th rowspan="2">Контактов не с паспортом РФ</th>
                <th rowspan="2">В ОДП более чем в 2х банках</th>
                <th rowspan="2">Обогащено</th>
                <th colspan="2">Тинькофф</th>
                <th colspan="2">Сбербанк</th>
                <th colspan="2">ВТБ24</th>
                <th colspan="2">МТС</th>
                <th colspan="2">ТФ: Краснодар</th>
            </tr>
            <tr>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
                <th>ОДП</th>
                <th>Загружено</th>
            </tr>
            </thead>
            <tbody id="downloadContent">
            </tbody>
        </table>
    </div>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/locales/bootstrap-datepicker.ru.js"></script>
    <script>
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var startday = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);

        $('#dayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           minViewMode: "days"
        });
        $('#dayPicker').datepicker('setDate', startday);
        $("#dayPicker").on("changeDate", function(event) {

        });
        $('#startDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#startDayPicker').datepicker('setDate', startday);

        $('#endDayPicker').datepicker(
        {
           todayHighlight: true,
           format: "dd.mm.yyyy",
           viewMode: "days",
           language: 'ru',
           minViewMode: "days"
        });
        $('#endDayPicker').datepicker('setDate', today);
    </script>
</div>