﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/cgi-bin/admin.py">Администрирование ЛК оператора</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="menu_download_nav"><a href="/cgi-bin/download.py">Загрузки</a></li>
                <li id="menu_admin_nav"><a href="/cgi-bin/admin.py">Сейчас обрабатываю</a></li>
                <li id="menu_organization_nav"><a href="/cgi-bin/organization/organization.py">Организации</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><h3 style="margin-left: 10px">Работа</h3></li>
                <li id="menu_download"><a href="/cgi-bin/download.py">Загрузки</a></li>
                <li id="menu_admin"><a href="/cgi-bin/admin.py">Сейчас обрабатываю</a></li>
                <li id="menu_organization"><a href="/cgi-bin/organization/organization.py">Организации</a></li>
            </ul>
        </div>