﻿        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h6 class="sub-header" id="update">Обновлено: обновление</h6>
            <h2 class="sub-header">Загрузки</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Имя файла</th>
                        <th>Дата загрузки</th>
                        <th>Состояние</th>
                        <th>Кол-во загруженных контактов</th>
                        <th>Кол-во повторов</th>
                        <th>Время загрузки</th>
                        <th>ОДП при загрузке</th>
                        <th>ОДП в работе</th>
                        <th>Отправлено</th>
                    </tr>
                    </thead>
                    <tbody id="downloadContent">
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header">ОДП</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>За сегодня обнаружено</th>
                        <th>Проверено</th>
                        <th>Проверено за сегодня</th>
                    </tr>
                    </thead>
                    <tbody id="ODPContent">
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header">Звонков за сегодня</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Всего</th>
                        <th>Из них по уникальным</th>
                        <th>Из них по повторным</th>
                        <th>Отправлено</th>
                        <th>Из них по уникальным</th>
                        <th>Из них по повторным</th>
                        <th>Повторная обработка</th>
                        <th>Плохие данные</th>
                        <th>Отказ</th>
                    </tr>
                    </thead>
                    <tbody id="processedContent">
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header">В работе по Тинькофф банку</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Часовой пояс</th>
                        <th>Уникальных</th>
                        <th>Перезвонов</th>
                        <th>Недозвонов</th>
                    </tr>
                    </thead>
                    <tbody id="workContentTF">
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header">В работе по Альфа-банку</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Часовой пояс</th>
                        <th>Уникальных</th>
                        <th>Перезвонов</th>
                        <th>Недозвонов</th>
                    </tr>
                    </thead>
                    <tbody id="workContentAlfa">
                    </tbody>
                </table>
            </div>
            <h2 class="sub-header">В работе по Сбер-банку</h2>
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Часовой пояс</th>
                        <th>Уникальных</th>
                        <th>Перезвонов</th>
                        <th>Недозвонов</th>
                    </tr>
                    </thead>
                    <tbody id="workContentSber">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../admin.js"></script>
<script>startMonitoring()</script>
<script>SelectMenu('menu_monitoriong')</script>