﻿        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">Статистика по звонкам Тинькофф</h2>
            <div class="row">
                <div class='col-md-2'>
                    <h4>Период:</h4>
                </div>
                <div class='col-md-1'>
                    <h5>C</h5>
                </div>
                <div class='col-md-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepickerstart'>
                            <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-1'>
                    <h5>По</h5>
                </div>
                <div class='col-md-3'>
                    <div class  ="form-group">
                        <div class='input-group date' id='datetimepickerend'>
                            <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                $(function () {
                  $('#datetimepickerstart').datetimepicker({
                    locale: 'ru',
                    defaultDate: "{{startDate}}",
                  });
                  $('#datetimepickerend').datetimepicker({
                        locale: 'ru',
                        defaultDate: "{{endDate}}",
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datetimepickerstart").on("dp.change", function (e) {
                        $('#datetimepickerend').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepickerend").on("dp.change", function (e) {
                        $('#datetimepickerstart').data("DateTimePicker").maxDate(e.date);
                    });
                });

                </script>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h4>Группировка: </h4>
                </div>
                <div class='col-md-5'>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="NonGroup" autocomplete="off" checked> Без группировки
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="OperatorGroup" autocomplete="off"> По операторам
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="TimeZoneGroup" autocomplete="off"> По часовым поясам
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="RegionGroup" autocomplete="off"> По регионам
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h4>Детализация: </h4>
                </div>
                <div class='col-md-5'>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="options2" id="Hours" autocomplete="off"> По часам</label>
                        </label>
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options2" id="Days" autocomplete="off" checked> По дням</label>
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options2" id="Month" autocomplete="off"> По месяцам</label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-info" onclick="GetCallStat()">Построить</button>
            </div>
            <div class="table-responsive">
                <table id="StatBody" class="table table-striped table-hover">
                </table>
            </div>
        </div>
    </div>
</div>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../admin.js"></script>
<script>SelectMenu('menu_statistic_call')</script>